@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-yeseva);

  --color-navy: #000423;
  --color-indigo: #1d297c;
  --color-accent: #e94b3c;
  --color-ink: #121212;
  --color-paper: #fdfdfd;
}

body {
  background: var(--color-paper);
  color: var(--color-ink);
}
